{% extends "base.html" %}

{% block content %}
<div class="flex h-screen">

    <div class="mx-auto w-96 prose">
    <h1 class="my-10">Update Todo</h1>

<form action="{% url 'update-task' pk=task.id%}" method="post">
    <div class="form-group my-10">
        {{ form.non_field_errors }}
        <div class="input-group my-2">
            {{ form.title.errors }}
            <label for="{{ form.title.id_for_label }}">Title</label><br/>
            <input class="form-control rounded-lg bg-gray-200 border-0 w-full" id="{{ form.title.id_for_label }}" name="{{ form.title.html_name }}" type="text" value="{{ form.title.value }}"/> 
        </div>
        <div class="input-group my-2">
            {{ form.description.errors }}
            <label for="{{ form.description.id_for_label }}">Description</label><br/>
            <textarea class="form-control rounded-lg bg-gray-200 border-0 w-full" name="description" cols="40" rows="10" required id="{{ form.description.id_for_label}}" >{{ form.description.value }}</textarea>
        </div>
        <div class="input-group my-2">
            {{ form.priority.errors }}
            <label for="{{ form.priority.id_for_label }}">Priority</label><br/>
            <input class="form-control rounded-lg bg-gray-200 border-0 w-full" type="number" name="{{ form.priority.html_name }}" min="1" required id="{{ form.priority.id_for_label}}" value="{{ form.priority.value }}">
        </div>
        <div class="input-group my-2">
            {{ form.completed.errors }}
            <input class="form-control bg-gray-200 border-0" type="checkbox" name="{{ form.completed.html_name }}" id="{{ form.completed.id_for_label }}" {% if form.completed.value %} checked {% endif %} />
            <label for="{{ form.completed.id_for_label }}">Completed</label>
        </div>
        <div class="input-group my-2">
            {{ form.status.errors }}
            <label for="{{ form.status.id_for_label }}">Status </label>
            {{ form.status }}
        </div>

    </div>
    {% csrf_token %}
    <button class="rounded-lg bg-red-500 w-full text-white p-2" type="submit">Update</button>

</form>

<br/>
 <!-- <a href="{% url 'tasks-view'%}">Go to Tasks Application</a>  -->

</div>

</div>
{% endblock %}
 
