<h1>Tasks Management Application</h1>

<a href="{% url 'tasks-view' %}">Go to Tasks Application</a>

<h1>Pending Tasks</h1>
{% for task in tasks %}
{{forloop.counter}}. {{task}} <a href="{% url 'delete-task' pk=task.id %}">Delete Task</a> <form action="{% url 'complete-task' pk=task.id%}" method="post" style="display: inline-block">{% csrf_token %}<button type="submit">Complete Task</button></form><br/>
{% endfor %}

<h1>Completed Tasks</h1>
{% for task in completed_tasks %}
{{forloop.counter}}. {{task}} <br/>
{% endfor %}
