<h1>Tasks Management Application</h1> <div align="right"><a href="{% url 'user-logout'%}">Logout</a></div>

<h2><a href="{% url 'create-task' %}">Create Task</a></h2>

<h2>Search Tasks</h2>

<form action="" method="get">
    <input type="text" name="search"/>
    <button type="submit">Search</button>
</form>

<h1>Tasks</h1>
{% for task in tasks %}
{{forloop.counter}}. {{task.title}} - {{task.created_date}} <a href="{% url 'delete-task' pk=task.id %}">Delete Task</a> <form action="{% url 'complete-task' pk=task.id%}" method="post" style="display: inline-block">{% csrf_token %}<button type="submit">Complete Task</button></form> <a href="{% url 'update-task' pk=task.id %}">Update Task</a> <a href="{% url 'detail-task' pk=task.id %}">Detail of Task</a><br/>
{% endfor %}

{% for page in paginator.page_range %}
<li>
    <a href="?page={{ page }}&search={{request.GET.search}}">{{page}}</a>
</li>
{% endfor %}

<a href="{% url 'complete-list' %}">Completed Tasks</a>
<a href="{% url 'all-tasks-view' %}">All Tasks</a>