<h1>Tasks Management Application</h1>

<form action="{% url 'add-task' %}" method="get">
    <input type="text" name="task"/>
    <button type="submit">Add Task</button>
</form>

<h2>Search Tasks</h2>

<form action="" method="get">
    <input type="text" name="search"/>
    <button type="submit">Search</button>
</form>

<h1>Tasks</h1>
{% for task in tasks %}
{{forloop.counter}}. {{task.title}} - {{task.created_date}} <a href="{% url 'delete-task' index=task.id %}">Delete Task</a> <a href="{% url 'complete-task' index=task.id %}">Complete Task</a><br/>
{% endfor %}

<a href="{% url 'complete-list' %}">Completed Tasks</a>
<a href="{% url 'all-tasks-view' %}">All Tasks</a>